:root {
  --red: #FF0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

body {
  background: rgb(255, 253, 250);
}

@font-face {
  font-family: "Monument Grotesk";
  src: url("../../public/fonts/ABCMonumentGrotesk-Regular-Trial.woff");
  font-weight: normal;
}

@font-face {
  font-family: "Monument Grotesk";
  src: url("../../public/fonts/ABCMonumentGrotesk-Bold-Trial.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Monument Grotesk";
  src: url("../../public/fonts/ABCMonumentGrotesk-RegularItalic-Trial.woff");
  font-weight: normal;
  font-style: italic;
}

.container {
  position: relative;
  width: calc(100dvw - 2rem);
  height: calc(100dvh - 2rem);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  overflow: hidden;
}

.video-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: rgb(255, 253, 250);
  z-index: -1;
  transition: opacity 1s ease-in-out;
}

.video-container video {
  position: absolute;
  top: 1rem;
  left: 0rem;
  width: calc(100dvw - 2rem);
  min-height: 100vh;
  object-fit: cover;
  opacity: 0.75;
  background: rgb(255, 253, 250);
}

.looping {
  opacity: 0;
}

.video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.page-full {
  position: relative;
  background: none;
  width: 100%;
  min-height: calc(100dvh - 4rem);
  padding: none;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.page-full.fade-in {
  opacity: 1;
}

.page-full .left-column {
  flex: 0 0 65%;
  background: rgb(255, 253, 250);
  padding: 1rem 1rem 4rem 0.75rem;
  overflow: scroll;
}

.page-full .left-column h1 {
  font-family: "Monument Grotesk";
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  text-align: left;
  margin-bottom: 1rem;
}

.page-full .left-column h2 {
  font-family: "Monument Grotesk";
  font-weight: bold;
  font-size: 0.9rem;
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
}

.page-full .left-column h2 .subtitle {
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-style: italic;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}


.page-full .left-column p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  color: black;
  display: block;
  margin-bottom: 1rem;
  text-align: justleftify;
}

.page-full .left-column p a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  color: blue;
  text-decoration: underline;
}

.page-full .right-column {
  flex: 0 0 35%;
  background: rgb(255, 253, 250);
  border-left: 1px solid black;
  padding-bottom: 4rem;
  position: relative;
  height: calc(100dvh - 4rem);
  overflow: scroll;
}

.page-full .right-column .footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black
}



.page-full .right-column h1 {
  font-family: "Monument Grotesk";
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 0.45rem 0;
  margin-bottom: 0.9rem;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  background: white;
}

.page-full .right-column h2 {
  font-family: "Monument Grotesk";
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  display: block;
  text-align: left;
  padding: 0 0.9rem 0 0.9rem;
}

.page-full .right-column p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  color: black;
  display: block;
  margin-bottom: 1rem;
  text-align: justify;
  padding: 0 1.5rem 0 0.9rem;
}

.page-full .right-column ul {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  padding: 0 0.9rem 0 0.9rem;
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.page-full .right-column ul li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  color: blue;
  margin-bottom: 0.2rem;
}

.page-full .right-column p a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  color: blue;
  text-decoration: underline;
}

.page-full .right-column .footer p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  color: black;
  display: block;
  text-align: justify;
  padding: 0.45rem;
  margin: 0;
}

.paragraph-italics {
  font-style: italic;
  font-size: inherit;
}

.page-full h1 {
  font-family: "Monument Grotesk";
  font-weight: normal;
  font-size: 3rem;
  color: black;
  line-height: 1.25;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}



@keyframes background-pulse {
  0% {
    background: white;
  }

  50% {
    background: antiquewhite;
  }

  100% {
    background: white;
  }

}

@keyframes image-pulse {
  0% {
    opacity: 0.15;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.15;
  }
}